DJANGO_SECRET_KEY=django-insecure-dev-only-change-me
DJANGO_DEBUG=True
DEMO_MODE=False
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:5173,http://localhost:5174

POSTGRES_DB=ricetta
POSTGRES_USER=ricetta
POSTGRES_PASSWORD=ricetta
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_HOST_PORT=5433

FRONTEND_ORIGIN=http://localhost:5174
BACKEND_ORIGIN=http://localhost:8010
VITE_DEMO_MODE=false

# STRIPE_SECRET_KEY=
# STRIPE_WEBHOOK_SECRET=
